*{
    margin: 0;
}


.Principal{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% repeat(2,37.5%) 10%;

    grid-template-areas: 'titulo titulo '
                         'sec1 sec2'
                         'sec4 sec3'
                         'PP PP';
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    align-items: stretch;
}

#Titulo{
    grid-area: titulo;
    background-color: aqua;
    width: 100%; height: 100%;
    justify-content: center;
    text-align: center;

    display: grid;
    place-items: center;
}

#PP{
    grid-area: PP;
    background-color: green;
    width: 100%; height: 100%;
    
    justify-content: center;
    text-align: center;

    display: grid;
    place-items: center;
}

#Sec1{
    grid-area: sec1;
}

#Sec2{
    grid-area: sec2;
}
#Sec3{
    grid-area: sec3;
}
#Sec4{
    grid-area: sec4;
}

section{
    
    width: 100%; height: 100%;
    justify-content: center;
    text-align: center;
    border: 0px solid black;
    display: grid;
    place-items: center;
    overflow: auto;
}

section::-webkit-scrollbar{
    width: 10px;
}
