/* body::-webkit-scrollbar {
    width: 10px;
    background: rgb(41, 81, 201);
 }
 body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, .2);
    border-radius: 25px;
    border-right: 3px solid rgb(41, 81, 201);
 } */

 .contenido{
     text-align: center;
     justify-content: center;
     position:  100% 50%;

 }

 #Titulo{
    /*background-color: rgb(125, 206, 160);*/
    background:linear-gradient( rgb(34, 153, 84), rgb(169, 223, 191 ));
    
    justify-content: center;
    text-align: center;
    /* border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; */
    border-radius: 0px 0px 25px 25px;
 }

 h3{ 
     color: rgb(242, 243, 244 );
    border-radius: 15px;
    font-size: 50px;
    position:  100% 50%;
 }
 #T1{ background-color: rgb(93, 173, 226);  width: 100% !important;}
 #T2{ background-color: rgb(241, 196, 15);  }
 #T3{ background-color: rgb(192, 57, 43); }
 #T4{ background-color: rgb(142, 68, 173);  width: 95%;}


 #img{
    /* background-image: url(https://github.com/VictorMRendon/rendonga19100238/blob/master/Parcial2/LayoutGrid/img/iyc.png?raw=true); */
    height: 100%; width: 100%;
    position: 100% 50%;
}    


#img2{
     width: 40%;
    position: 100% 50%;
}
#img3{
    width: 20%;
   position: 100% 50%;
}

#img4{

     width: 25%;
    position: 100% 50%;
}

#PP{
    background:radial-gradient( rgb(245, 183, 177 ),rgb(203, 67, 53));

    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}